# Python Bootcamp 
## Session 05 - Data Structures

### Arrays Operations

Ordered collection of data of any type.

    my_array = [False, "one", 2, 3.0]

**len( array )**: Returns the number of elements on the list.

In [26]:
my_array = ["hello", "world", "!", 8]
len(my_array)

4

**min( array )**: Returns the minimum element of the list. The list must have at least one element or it will throw an error.

In [29]:
my_array = [55, 12, 33]
min(my_array)

12

**max( array )**: Returns the maximum element of the list of numerical values. The list must have at least one element or it will throw an error.

In [30]:
my_array = [55, 12, 33]
max(my_array)

55

**sum( array )**: Returns the summatory of all the elements of the list. All the elements must be numerical or it will throw an error.

In [31]:
my_array = [55, 12, 33]
sum(my_array)           #Â 55 + 12 + 33       # my_array[0] + my_array[1] + my_array[2]

100

**index( X )**: Returns the index where the element X is located. The element X must exist or it will throw an error.

In [40]:
my_array = [55, "12", 33, 55]
my_array.index(55)

0

**count( X )**: Returns the index where the element X is located.

In [48]:
my_array = [1,0,1,1,0,0,0,3,1,2, "one",3,4,5,5,1,1,2,3,5,1,1,1,0,2,2,2, "one"]
my_array.count("one")

2

**append( )**: Adds a new element at the end of the list.

In [59]:
my_array = [1, 2, 3]
my_array.append("any value")
my_array.append(True)
my_array.append(3.1415)
my_array

[1, 2, 3, 'any value', True, 3.1415]

**pop( )**: Returns the last element of the list and removes it from the list. The list must have at least one element or it will throw an error.

In [62]:
x = my_array.pop()
print(my_array, x)

[1, 2, 3] any value

**insert( )**: It inserts the element X in posiiton with index N of the array. The rest of elements from N and after of the original list will be pushed one index.

In [65]:
my_array = [6,9,8,4]
my_array.insert(1, 3)
my_array

[6, 3, 9, 8, 4]

**remove( )**: It removes the first occurrence of the element X. The list must contain the element X or it will throw an error.

In [67]:
my_array = [4,2,7,2]

my_array.remove(2)
my_array

[4, 7, 2]

**sort( )**: It will sort the list. All the elements must be numerical or it will throw an error.

In [69]:
my_array = [4,2,7, -43]
my_array.sort()
my_array

[-43, 2, 4, 7]

**reverse( )**: It will reverse the order of the elements on the list.

In [71]:
my_array = [1,2,3,4,5,6,7,8,9]
my_array.reverse()
my_array

[9, 8, 7, 6, 5, 4, 3, 2, 1]