# Python Bootcamp 
## Session 01

### 0) Hello World!

It is a tradition that when you first code in any new programming language you print in console "Hello world!". 

In Python we use the function **print( )** to do that. You only have to write the text **"Hello world!"** inside the parenthesis **(Note: Use the quotation marks)**.

### 1) Variables

Variables are the symbolic representation of a stored value in the computerâ€™s memory.

**DIY:** You can print any of the previous variables bellow to see their values:

In [ ]:
print()

**DIY:** Now try creating a variable for your **name** and for the current hour (**hour** and **minutes**).

In [ ]:
print(name, "says that its", hour , ":", minute, "pm")

### 2) Data Types
As you previously could see, there are a few data types in Python which are listed bellow:

* **Integer:** 0, 1, -2, 3, 999999
* **Floating:** 9.8, 5.6, 1.15
* **String:** "This is a string", "This is not a string"
* **Boolean:** False

#### Integer

#### Floating

#### String

#### Boolean

**DIY:** Create a variable named after each data type and assign it a value with that data type

In [ ]:
print(type())

### 3) Arithmetic Operators

#### Addition (+)

#### Substraction (-)

#### Integer Division (//)

#### Floating Division (/)

#### Module (%)

#### Exponentiation (**)

**DIY:** Calculate the area of a square with length a. You can assign any positive length value to a.

In [ ]:
print(square_area)

**DIY:** Calculate the area of a triangle with height h and a base b. You can assign any positive real number to h and b.

In [ ]:
print(triangle_area)

**DIY:** Calculate the area of a circle with radius r. You can assign any positive real number to r.

In [ ]:
print(circle_area)

**CHALLENGE:** Find *x1* and *x2* given the coefficients *a, b* and *c* using the quadratic formula.

In [ ]:
a = 2
b = 3
c = -4

#### The correct answer is:
* x1 = 0.8507810593582121
* x2 = -2.350781059358212


#### Your answer is:

In [ ]:
print("x1 =", x1)
print("x2 =", x2)