# Python Bootcamp 
## Session 05 - Data Structures

### Arrays Operations - Part I

Ordered collection of data of any type.

**len( )**: Returns the number of elements on the list.

In [ ]:
my_list = ["hello", "world", "!"]

len(my_list)

**min( )**: Returns the minimum element of the list. The list must have at least one element or it will throw an error.

In [ ]:
my_list = [55, 12, 33]

min(my_list)

**max( )**: Returns the maximum element of the list of numerical values. The list must have at least one element or it will throw an error.

In [ ]:
my_list = [55, 12, 33]

max(my_list)

**sum( )**: Returns the summatory of all the elements of the list. All the elements must be numerical or it will throw an error.

In [ ]:
my_list = [55, 12, 33]

sum(my_list)

**index( )**: Returns the index where the element X is located. The element X must exist or it will throw an error.

In [ ]:
my_list = [55, 12, 33]

my_list.index(33)

**count( )**: Returns the index where the element X is located. The element X must exist or it will throw an error.

In [ ]:
my_list = [1,0,1,1,0,0,0,3,1,2, "one",3,4,5,5,1,1,2,3,5,1,1,1,0,2,2,2, "one"]

my_list.count("one")

**append( )**: Adds a new element at the end of the list.

In [ ]:
my_list = [1, 2, 3]

my_list.append(5)
my_list

**pop( )**: Returns the last element of the list and removes it from the list. The list must have at least one element or it will throw an error.

In [ ]:
my_list = [1, 2, 3]

x = my_list.pop()
my_list
x

**insert( )**: It inserts the element X in posiiton with index N of the array. The rest of elements from N and after of the original list will be pushed one index.

In [ ]:
my_list = [1, 2, 3]

I  = 1
X = 4

my_list.insert(I, X)
my_list

**remove( )**: It removes the first occurrence of the element X. The list must contain the element X or it will throw an error.

In [ ]:
my_list = [4,2,7,2]

I  = 1
X = 4

my_list.remove(2)
my_list

**sort( )**: It will sort the list. All the elements must be numerical or it will throw an error.

In [ ]:
my_list = [4,2,7, -43]

my_list.sort()
my_list

**reverse( )**: It will reverse the order of the elements on the list.

In [ ]:
my_list = [1,2,3,4,5,6,7,8,9]

my_list.reverse()
my_list