# Python Bootcamp
## Session 01 - Notebook Solution

### 0) Hello World!

It is a tradition that when you first code in any new programming language you print in console "Hello world!". 

In Python we use the function **print( )** to do that. You only have to write the text **"Hello world!"** inside the parenthesis **(Note: Use the quotation marks)**.

In [1]:
print("Hello World!")

Hello World!

### 1) Variables

Variables are the symbolic representation of a stored value in the computerâ€™s memory.

In [2]:
pi = 3.1415
age = 22
hospital = "CURE Children's Hospital of Uganda"

**DIY:** You can print any of the previous variables bellow to see their values:

In [3]:
print(pi)

3.1415

**DIY:** Now try creating a variable for your **name** and for the current hour (**hour** and **minutes**).

In [4]:
name = "Luis"

hour = 9
minute = 54

In [5]:
print(name, "says its", hour , ":", minute, "am")

Luis says its 9 : 54 am

### 2) Data Types
As you previously could see, there are a few data types in Python which are listed bellow:

* **Integer:** 0, 1, -2, 3, 999999
* **Floating:** 9.8, 5.6, 1.15
* **String:** "This is a string", "This is not a string"
* **Boolean:** False

#### Integer

In [6]:
a = 1
b = 5
c = 99

#### Floating

In [7]:
a = 5.34
ft = 0.30

#### String

In [8]:
my_string = "string"

location = "Boston, MA"

#### Boolean

In [9]:
rain = True
sun = False

**DIY:** Create a variable named after each data type and assign it a value with that data type

In [10]:
integer = 4
floating = 6.3363
string = "This is a string"
boolean = True

In [11]:
print(integer, type(integer))
print(floating, type(floating))
print(string, type(string))
print(boolean, type(boolean))

4 <class 'int'>
6.3363 <class 'float'>
This is a string <class 'str'>
True <class 'bool'>

### 3) Arithmetic Operators

#### Addition (+)

In [12]:
2 + 2

4

#### Substraction (-)

In [13]:
5 - 9

-4

#### Multiplication (*)

In [14]:
3 * 5

15

#### Integer Division (//)

In [15]:
56 // 3

18

#### Floating Division (/)

In [16]:
56 / 3

18.666666666666668

#### Module (%)

In [17]:
7 % 3

1

#### Exponentiation (**)

In [18]:
3 ** 2

9

**DIY:** Calculate the area of a square with length a. You can assign any positive length value to a.

In [19]:
a = 5
square_area = a * a

In [20]:
print(square_area)

25

**DIY:** Calculate the area of a triangle with height h and a base b. You can assign any positive real number to h and b.

In [21]:
h = 10
b = 3

triangle_area = (b * h) / 2

In [22]:
print(triangle_area)

15.0

**DIY:** Calculate the area of a circle with radius r. You can assign any positive real number to r.

In [23]:
r = 3

circle_area = pi*( r ** 2)

In [24]:
print(circle_area)

28.273500000000002

**CHALLENGE:** Find *x1* and *x2* given the coefficients *a, b* and *c* using the quadratic formula.

In [25]:
a = 2
b = 3
c = -4

In [26]:
x1 = (- b + ((b ** 2) - (4 * a * c))**0.5) / (2 * a)
x2 = (- b - ((b ** 2) - (4 * a * c))**0.5) / (2 * a)

#### The correct answer is:
* x1 = 0.8507810593582121
* x2 = -2.350781059358212


#### Your answer is:

In [27]:
print("x1 =", x1)
print("x2 =", x2)

x1 = 0.8507810593582121
x2 = -2.350781059358212